.navbar{
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: var(--jordy-blue);
    justify-content: space-between;
}

.menu{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
}

.menu li a{
    text-decoration: none;
    color: var(--white);
    transition: 0.3s;
}

.navbar .logo img{
    height: 80px;
    width: 80px;
    margin: 0;
}

.banner{
    width: 90%;
    height: 50vh;
    background-color: rgb(221, 220, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    border: 1px solid var(--polynesian-blue);
    border-radius: 20px;
    margin: 15px;
}

.banner_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.conteudo{
    width: 90%;
    height: 40vh;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
}

.sobre{
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    
    gap: 10px;
    padding: 10px;
    font-size: 35px;
}

.box_doacao{
    width: 25%;
    height: 90%;
    background-color: var(--white);
    border: 2px solid var(--polynesian-blue);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}


.btn_doacao{
    width: 65%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--sky-blue);
    color: var(--white);
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_doacao a{
    width: 100%;
    height: 100% ;
    text-decoration: none;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.saneamento{
    width: 99%;
    height: 100vh;
    margin: 5px;
    border: 2px solid var(--polynesian-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.texto_saneamento{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-size: 25px;
}

.mapa{
    width: 50%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mapa img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

