.footer_mini{
    width: 100%;
    height: 15vh;
    bottom: 0;
    position: relative;
    background-color: var(--jordy-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    padding: 2%;
}

.footer_mini a, .footer_mini p{
    text-decoration: none;
    color: var(--white);
    font-size: 1vw;
}

.redes_footer_mini{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.redes_footer_mini p{
    color: var(--white);
    font-size: 1vw;
}

.redes_footer_mini img{
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}